<p class="ui" id="notice"><%= notice %></p>

<h1 class="ui header">赚分记录</h1>
<br>

<h2 class="ui header segment">目前总分: <strong><%=@total_score%></strong> </h2>

<table class="">
  <thead>
    <tr>
      <th>记录时间</th>
      <th>活动</th>
      <th>分数</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td><%= record.updated_at.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= record.course.des %></td>
        <td><%= record.course.score %></td>
        <!--<td><%= link_to 'Show', record %></td>-->
        <td><%= link_to '编辑', edit_record_path(record), class: "mini ui primary button"%></td>
        <td><%= link_to '删除', record, method: :delete, data: { confirm: 'Are you sure?' } , class: "mini ui button"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "<i class='add icon'></i>增加记录".html_safe, new_record_path, class: "ui secondary button"%>
